LK_SSO_WITH_LMS_ENABLED=false

LMS_URL=https://lms2.robbo.world

OIDC_ISSUER=
OIDC_AUTHORIZATION_ENDPOINT=
OIDC_TOKEN_ENDPOINT=
OIDC_JWKS_URI=
OIDC_USERINFO_ENDPOINT=
OIDC_CLIENT_ID=
OIDC_REDIRECT_URI=
OIDC_SCOPES=openid profile email
OIDC_LOGOUT_ENDPOINT=
OIDC_POST_LOGOUT_REDIRECT_URI=
